{% extends 'base.html' %}
{% load static %}

{% block main %}
<main>
    <section class="blog-page container mt-5">
      <h2 class="d-none">The Blog</h2>
      <div class="blog-grid row row-cols-2 row-cols-md-3 row-cols-xl-4 mt-5">
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Armani_Exchange.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Armani+Exchange">Armani_Exchange</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/CALVIN_KLEIN.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Calvin+Klein">CALVIN KLEIN</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Casio.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Casio">Casio</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Fossil.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Fossil">Fossil</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/MainThumbnail__GM-2100B-3ADR.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=G-Shock">G Shock</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Boss.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Boss">Boss</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Kenneth_Cole.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Kenneth+Cole">Kenneth Cole</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/movado_brand_directory_4x-80.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Movado">movado</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Obaku.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Obaku">Obaku</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/Police.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=Police">Police</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/23TITAN_1.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=TITAN">TITAN</a>
            </div>
          </div>
        </div>
        <div class="blog-grid__item">
          <div class="blog-grid__item-image">
            <img loading="lazy" class="h-auto" src="https://dev1-cdn.helioswatchstore.com/23TOMMY_HILFIGER.jpg" width="450" height="400" alt="">
          </div>
          <div class="blog-grid__item-detail">
            
            <div class="blog-grid__item-title">
              <a href="{% url 'watch' %}?brand=TOMMY+HILFIGER">TOMMY HILFIGER</a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>
  {% endblock main %}
