{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block main %}

<main>
    <div class="mb-4 pb-4"></div>
   
    <section class="login-register container">
      <h2 class="d-none">Login & Register</h2>
      <ul class="nav nav-tabs mb-5" id="login_register">
        <li class="nav-item" role="presentation">
          <a class="nav-link nav-link_underscore" href="{% url 'userlogin' %}" >Login</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link nav-link_underscore active" href="{% url 'register' %}">Register</a>
        </li>
      </ul>
      <div class="tab-content pt-2" id="login_register_tab_content">
        <div class="tab-pane fade  show active" id="tab-item-register" role="tabpanel" aria-labelledby="register-tab">
          <div class="register-form">
            {% if messages %}
            {% for message in messages %}
            <h5 class="text-danger mb-1">{{ message }}</h5>
            {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'register' %}">
              <div class="form-floating mb-3">
                <input name="f_name" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required>
                <label for="customerNameRegisterInput">Frist Name</label>
              </div>
              <div class="form-floating mb-3">
                <input name="l_name" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required>
                <label for="customerNameRegisterInput">Last Name</label>
              </div>
    
              <div class="pb-3"></div>

              <div class="form-floating mb-3">
                <input name="register_email" type="email" class="form-control form-control_gray" id="customerEmailRegisterInput" placeholder="Email address *" required>
                <label for="customerEmailRegisterInput">Email address *</label>
              </div>
    
              <div class="pb-3"></div>
    
              <div class="form-floating mb-3">
                <input name="register_password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Password *" required>
                <label for="customerPasswodRegisterInput">Password *</label>
              </div>
    
              <div class="form-floating mb-3">
                <input name="register_confirm_password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Confrim Password *" required>
                <label for="customerPasswodRegisterInput">Confrim Password *</label>
              </div>
    
              <div class="d-flex align-items-center mb-3 pb-2">
                <p class="m-0">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
              </div>
    
              <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>

  {% endblock main %}
